_ReSharper.*
*.user
*.suo
*.cachefile
*.psess
*.vspx
Illuminant/obj
Illuminant/bin
Illuminant/IlluminantContent/obj
Illuminant/IlluminantContent/bin
TestGame/TestGame/obj
TestGame/TestGame/bin
TestGame/TestGameContent/obj
TestGame/TestGameContent/bin
/TestGame/TestGameContent/template.jpeg
/Illuminant/Illuminant.sdf
/Illuminant/Illuminant.VC.opendb
/Illuminant/packages
