_ReSharper.*
*.user
*.suo
*.cachefile
*.psess
*.vspx
*.vs
Illuminant/obj
Illuminant/bin
Illuminant/Shaders/bin
TestGame/TestGame/obj
TestGame/TestGame/bin
TestGame/TestGameContent/obj
TestGame/TestGameContent/bin
/TestGame/TestGameContent/template.jpeg
/Illuminant/Illuminant.sdf
/Illuminant/Illuminant.VC.opendb
/Illuminant/packages
*.vsp
*.VC.db
/ParticleEditor/bin
/ParticleEditor/obj
*.sdf
*.opendb
/packages
/AppCommon/Fonts